<header class="header-container position-relative">
    <div class="menu-container">
        <input type="checkbox" id="menu-container__checkbox" hidden>
        <label for="menu-container__checkbox" id="menu-container__label">
            <img src="/icon/menu.svg" alt="Menu hamburger" class="user-select-none">
        </label>
        <aside class="position-absolute menu-aside-container">
            <div class="menu-aside-container__option">
                <div class="w-100 d-flex justify-content-between px-1 mb-2 mt-1">
                    <div class="menu-aside-container__image">
                        <img src="/img/ford.png" alt="Imagem da logo da ford" />
                    </div>
                    <label for="menu-container__checkbox" class="menu-aside-container__close-button">
                        <img src="/icon/back.svg" alt="Ícone de voltar" />
                    </label>
                </div>
                <ul class="list-unstyled menu-aside-container__list">
                    <li class="menu-aside-container__item">
                        <a href="home">Home</a>
                    </li>
                    <li class="menu-aside-container__item">
                        <a href="dashboard">Dashboard</a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</header>